:root {
  --max-width: 100ch;
  --header-height: 60px;
  --footer-height: 50px;
  --border-colour: #e2e2e2;

  /* Base unit for spacing */
  --space-unit: 0.25rem; /* 4px at default font size */

  /* Spacing scale */
  --space-xs: calc(var(--space-unit) * 1); /* 0.25rem / 4px */
  --space-sm: calc(var(--space-unit) * 2); /* 0.5rem  / 8px */
  --space-md: calc(var(--space-unit) * 4); /* 1rem    / 16px */
  --space-lg: calc(var(--space-unit) * 6); /* 1.5rem  / 24px */
  --space-xl: calc(var(--space-unit) * 8); /* 2rem    / 32px */

  /* Common property values */
  --border-radius: var(--space-xs);
  --padding: var(--space-md);
  --margin: var(--space-md);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0 var(--padding);
  line-height: 1.5;
  min-height: 100vh;
  max-width: var(--max-width);
}

main {
  padding: var(--padding) 0;
}

button,
input {
  margin: var(--margin) 0;
  padding: var(--padding);
  border: 1px solid var(--border-colour);
  border-radius: var(--border-radius);
}

button {
  box-sizing: border-box;
}

button:hover {
  border-color: var(--fg-colour);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 2px var(--fg-colour);
  outline: none;
}
